[submodule "src/Lukbot/CryptoBundle"]
	path = src/Lukbot/CryptoBundle
	url = git@github.com:lbotsch/CryptoBundle.git
[submodule "src/Lukbot/SpecBundle"]
	path = src/Lukbot/SpecBundle
	url = git@github.com:lbotsch/SpecBundle.git
